@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model DOTNET_MVC_DUC_SHOP1c.Models.Cart
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4"> @localizer["Cart"] </h1>
</div>
@if (Model != null && Model.CartItems != null && Model.CartItems.Count > 0)
{
    <table class="table table-bordered table-hover mx-auto w-50">
        <thead>
            <tr>
                <th> Id </th>
                <th> @localizer["Name"] </th>
                <th> @localizer["Price"] </th>
                <th> @localizer["Quantity"] </th>
                <th> @localizer["Sum"] </th>
                <th> @localizer["Actions"] </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>
                        @item.Product.Id
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @(item.Product.Price * item.Quantity)
                    </td>
                    <td>
                        <a href="/Cart/DecreaseCartItem?ProductId=@item.Product.Id"
                           class="btn btn-primary btn-sm m-1">- 
                        </a>
                        <a href="/Cart/AddCartItem?ProductId=@item.Product.Id&redirect=1"
                           class="btn btn-success btn-sm m-1">
                            +
                        </a>
                        <a href="/Cart/RemoveCartItem?ProductId=@item.Product.Id"
                           class="btn btn-danger btn-sm m-1">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                   
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        @localizer["Total cost"] : @ViewData["TotalCost"]
    </p>

    <form asp-controller="Cart" asp-action="AddOrder" class="w-50">
        <div class="mb-3 mt-3">
            <label class="form-label"> @localizer["Tel"]:</label>
            <input type="text" class="form-control" required
                   placeholder="Enter Your Telephone Number" name="UserTel" id="UserTel">
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label"> @localizer["Address"]:</label>
            <input type="text" class="form-control" required
                   placeholder="Enter Your Address" name="UserAddress" id="UserAddress">
        </div>
        <button type="submit" class="btn btn-primary" id="btnOrder"> @localizer["Order"] </button>
    </form>
}
@section Scripts {
    <script src="~/js/cart.js"></script>
}